* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  width: 90%;
  max-width: 340px;
  margin: 0rem auto;
  height: 4rem;
  border: 0;
  outline: 0;
}

input::placeholder {
  font-size: large;
}

input[type="text"] {
  padding: 10px 10px;
  font-size: large;
}

input:focus {
  background: rgb(240, 235, 235);
}
