* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  width: 90%;
  max-width: 340px;
  margin: 0rem auto;
  height: 4rem;
  border: 0;
}

input::placeholder {
  font-size: large;
  padding-left: 1rem;
}
